@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '../../fonts/' */
/* @font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: url('../fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('../fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: url('../fonts/Montserrat-Black.ttf');
} */