body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .h1 {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  src: url('./fonts/Gilroy-Bold.ttf');
  font-family: 'Gilroy-Medium';
  src: local('Gilroy'), url(./fonts/Gilroy-Medium.ttf) format('truetype');
  font-family: 'Gilroy-Regular';
  src: local('Gilroy'), url(./fonts/Gilroy-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: url('./fonts/Gilroy-Regular.ttf');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('./fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: url('./fonts/Gilroy-Heavy.ttf');
} */